[user]
	name = Alexander Wink
    email = git@jinnoflife.com
	signingkey = ~/.ssh/id_rsa.pub
[includeIf "gitdir:~/code/_work/"]
    path = ~/code/_work/.gitconfig
	email = alexander.wink@dasistweb.de
[pull]
    rebase = false
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
	format = ssh
